<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>POS Mini | Majoo</title>
	<meta name="description" content="Poin of sales sederhana">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="/favicon.ico"/>

	<!-- Load Bootstrap CSS & Custom CSS -->
	<link rel="stylesheet" href="{{baseUrl}}/lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{{baseUrl}}/lib/sweetalert/sweetalert2.min.css" />
	<link rel="stylesheet" href="{{baseUrl}}/lib/custom.css" />
</head>

<body class="body-login">

	<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-5">
                    <div id="login-box" class="col-md-12">
						<form id="login-form">
							<div id="container-logo">
								<img src="{{baseUrl}}/img/site/main-logo.png" id="logo-login"/>
							</div>
							<div class="form-group">
								<label for="email" class="control-label">Email address</label>
								<input type="email" class="form-control" id="email" aria-describedby="emailHelp">
							</div>
							<div class="form-group">
								<label for="password" class="control-label">Password</label>
								<input type="password" class="form-control" id="password">
							</div>
							<button type="button" onclick="loginAction()" class="btn btn-primary btn-block btn-login">Login</button>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!-- Load Jquery dan Bootsrap JS -->
	<script src="{{baseUrl}}/lib/jquery.min.js"></script>
	<script src="{{baseUrl}}/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="{{baseUrl}}/lib/sweetalert/sweetalert2.min.js"></script>
	<script>
		function loginAction() {
			const email = $("#email").val();
			const password = $("#password").val();

			$.post('{{baseUrl}}/api/user/login', {email: email, password: password}, function(result){
				window.location.replace('{{baseUrl}}/home');
			}).fail(function(resp) {
				Swal.fire(
					'Ooops Mohon Maaf',
					resp.responseJSON.error[0],
					'error'
				);
			});
		}
	</script>
</body>

</html>