{% extends "Layout/Admin.html" %} {% block content %}
<div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0 tittle-form">
        <i class="{{icon}}"></i> {{tittle}}
    </h6>
    <div class="container-fluid pl-0 pr-0 mt-3">
        <div class="row">
            <div class="col-md-12">
                <form enctype="multipart/form-data" id="myForm">
                    <div class="form-row">
                        <div class="form-row">
                            <div class="form-group img-produk-container col-md-12">
                                <img src="{{baseUrl}}/img/product/default.png"
                                    class="img-produk rounded mx-auto d-block" id="fotoBaseUrl">
                                <img class="img-produk rounded mx-auto d-block" id="fotoBase64"/>
                                <div class="mx-auto" style="max-width: 200px;" id="tombolGanti">
                                    <input type="file" class="mx-auto ganti-foto" onchange="loadFile(event)" id="fileFoto" name="fileFoto" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nama" class="control-label required">Nama Produk</label>
                                <input type="text" class="form-control" name="nama" id="nama"
                                    placeholder="Masukkan Nama Produk" />
                                <input type="hidden" class="form-control" name="id" id="id" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="kategori" class="control-label required">Kategori</label>
                                <div class="col-12 pl-0 pr-0">
                                    <div class="input-group input-group-sm">
                                        <select class="form-control kategori-list" name="kategori" id="kategori"
                                            name="state">
                                        </select>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="addon-kategori">
                                                <a href="{{baseUrl}}/kategori/add"><i class="fa fa-plus"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="kategori" class="control-label required">Harga Beli</label>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="addon-harga-beli">Rp</span>
                                    </div>
                                    <input type="number" class="form-control" name="harga_beli" id="harga_beli"
                                        placeholder="Harga Beli" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="kategori" class="control-label required">Harga Jual</label>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="addon-harga-jual">Rp</span>
                                    </div>
                                    <input type="number" class="form-control" name="harga_jual" id="harga_jual"
                                        placeholder="Harga Jual" />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="kategori" class="control-label required">Deskripsi</label>
                                <div>
                                    <div class="editor-container">
                                        <textarea class="editor" name="deskripsi" id="deskripsi"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="float-left">
                                    <a href="{{baseUrl}}/produk" class="btn btn-info btn-sm">
                                        <i class="fa fa-arrow-left"></i>
                                        Daftar Produk
                                    </a>
                                </div>
                                <div class="float-right">
                                    <button type="button" onclick="save()" class="btn btn-primary btn-sm">
                                        <i class="fa fa-save"></i>
                                        Simpan
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<link href="{{baseUrl}}/lib/select2/css/select2.min.css" rel="stylesheet" />
<script src="{{baseUrl}}/lib/ckeditor/ckeditor.js"></script>
<script src="{{baseUrl}}/lib/select2/js/select2.min.js"></script>
<script src="{{baseUrl}}/lib/jquery.form.min.js"></script>
<script>
    function hideFoto(id) {
        $('#' + id).removeClass('d-block');
        $('#' + id).hide();
        $('#' + id).css({'display' : 'none !important'}); 
    }

    function showFoto(id) {
        $('#' + id).addClass('d-block');
        $('#' + id).show();
        $('#' + id).css({'display' : 'block !important'}); 
    }

    function loadFile(event) {
        hideFoto('fotoBaseUrl');
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('fotoBase64');
            output.src = reader.result;
            showFoto('fotoBase64');
        };
        reader.readAsDataURL(event.target.files[0]);
    };

    $(document).ready(function () {
        $(".kategori-list").select2();
        hideFoto('fotoBase64');

        // Ambil daftar kategori produk
        $.get('{{baseUrl}}/api/kategori/get', function (result) {
            let listKategori = [];
            result.data.map((value) => {
                listKategori.push({
                    id: value.id,
                    text: value.nama
                });
            });
            $(".kategori-list").html('').select2({ data: listKategori });
        });
    });

    ClassicEditor.create(document.querySelector(".editor"), {
        licenseKey: "",
        toolbar: {
            shouldNotGroupWhenFull: true
        }
    }).then((editor) => {
        editor.editing.view.change( writer => {
            writer.setStyle('width', '100%', editor.editing.view.document.getRoot());
        });
        window.editor = editor;
    }).catch((error) => {
        console.error("Oops, something went wrong!");
        console.error(
            "Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:"
        );
        console.warn("Build id: 740ousfpc6v5-8ek9xs5l5res");
        console.error(error);
    });

    function getData(produkId) {
        $.get('{{baseUrl}}/api/produk/' + produkId, function (result) {
            $("#nama").val(result.data.nama);
            $("#id").val(result.data.id);
            $("#kategori").val(result.data.m_produk_kategori_id);
            $("#harga_beli").val(result.data.harga_beli);
            $("#harga_jual").val(result.data.harga_jual);
            $('#fotoBaseUrl').attr({'src' : result.data.foto});
            showFoto('fotoBaseUrl');
            hideFoto('fotoBase64');
            const domEditableElement = document.querySelector('.ck-editor__editable');
            // Get the editor instance from the editable element.
            const editorInstance = domEditableElement.ckeditorInstance;
            // Use the editor instance API.
            editorInstance.setData(result.data.deskripsi);
        }).fail(function (resp) {
            Swal.fire(
                'Ooops Mohon Maaf',
                resp.responseJSON.error[0],
                'error'
            );
        });
    }

    function save() {
        showLoading();
        const deskripsi = window.editor.getData();
        let formData = new FormData($('#myForm')[0]);
        formData.append("deskripsi", deskripsi);
        $.ajax({
            url: "{{baseUrl}}/api/produk",
            type: 'POST',
            data: formData,
            xhr: function () {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress", function (evt) {
                    if (evt.lengthComputable) {
                        $("#tombolGanti").hide();
                        var percentComplete = evt.loaded / evt.total;
                        $('#proses_upload').css({'width' : (Math.round(percentComplete * 100)) + '%'}); 
                        $('#proses_upload').html((Math.round(percentComplete * 100)) + '%'); 
                    }
                }, false);
                return xhr;
            },
            success: function (result) {
                hideLoading()

                setTimeout(() => {
                    Swal.fire(
                        'Berhasil',
                        result.messages,
                        'success'
                    );
                }, 3000);
                
                if ($("#id").val() > 0) {
                    // do nothing
                } else {
                    $("#nama").val('');
                    $("#id").val('');
                    $("#harga_beli").val('');
                    $("#harga_jual").val('');
                    const domEditableElement = document.querySelector('.ck-editor__editable');
                    // Get the editor instance from the editable element.
                    const editorInstance = domEditableElement.ckeditorInstance;
                    // Use the editor instance API.
                    editorInstance.setData('');
                    $('#fotoBaseUrl').attr({'src' : "{{baseUrl}}/img/product/default.png"});
                    showFoto('fotoBaseUrl');
                    hideFoto('fotoBase64');
                }
                $("#tombolGanti").show();
            },
            error: function (resp) {
                hideLoading();

                setTimeout(() => {
                    Swal.fire(
                        'Ooops Mohon Maaf',
                        resp.responseJSON.error[0],
                        'error'
                    );
                }, 3000);
               
                $("#tombolGanti").show();
                $('#proses_upload').css({'width' : '100%'}); 
            },
            cache: false,
            contentType: false,
            processData: false
        });
        return false;
    }
</script>
{% if produkId > 0 %}
<script>
    getData('{{produkId}}');
</script>
{% endif %}
{% endblock %}