{% extends "Layout/Admin.html" %} {% block content %}
<div class="row my-3">
    <div class="col-md-12">
        <h6 class="mb-0 tittle-daftar-produk lh-100">
            <i class="fa fa-shopping-cart"></i> Produk
        </h6>
    </div>
</div>
<div class="row my-3" id="katalog-produk">
   
</div>
<script>
    $(document).ready(function () {
        // Get daftar produk
        $.get('{{baseUrl}}/api/produk/get', function (result) {
            let listProduk = [];
            result.data.map((value) => {
                let contentProduk = '';
                contentProduk += '<div class="col-md-3">';
                contentProduk += '<div class="card">';
                contentProduk += '<img class="card-img-top" src="..." alt="'+value.nama+'">';
                contentProduk += '<div class="card-body">';
                contentProduk += '<h5 class="card-title nama-produk">'+value.nama+'</h5>';
                contentProduk += '<h6 class="card-title harga-produk">Rp '+value.harga_jual+'</h6>';
                contentProduk += '<div class="card-text">'+value.deskripsi+'</div>';
                contentProduk += '<div class="text-center mt-4" id="tombol_'+value.id+'">';
                contentProduk += '<button class="btn btn-sm btn-primary" onclick="add()">';
                contentProduk += '<i class="fa fa-shopping-cart"></i> Beli</button>';
                contentProduk += '</div>';
                contentProduk += '</div>';
                contentProduk += '</div>';
                contentProduk += '</div>';
                $("#katalog-produk").append(contentProduk);
            });
        });
    });

    function add() {
        console.log('asd');
    }
</script>
{% endblock %}